[submodule "submodules/aioquic"]
	path = submodules/aioquic
	url = git@github.com:johnson-li/aioquic.git
[submodule "submodules/amqtt"]
	path = submodules/amqtt
	url = git@github.com:johnson-li/amqtt.git
[submodule "submodules/quiche"]
	path = submodules/quiche
	url = git@github.com:johnson-li/quiche.git
